header {
	display: flex;
	justify-content: space-between;
}

body {
	font-family: lucida, serif;
}
.logo-main {
	margin-left: 15%;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 5%;
}

.user {
	margin: 10px 0 0 0;
}

.user-title {
	margin: 0 0 0 10px;
}

.header-line {
	margin-left: 15%;
	width: 80%;
	height: 2px;
	background-color: gray;
}

.middle {
	display: flex;
	justify-content: space-around;
	margin: 0 0 0 0;
}

.side {
	margin-left: 5%;
}

.side-color {
	width: 80px;
	height: 80px;
	margin-left: 25%;
}

.side-color-text {
	font-size: 26px;
	text-align: center;
	margin-left: 15%;
}
.blue {
	background-color: #483d8b;
}

.sandy-brown {
	background-color: #f4a460;
}

.dark-khaki {
	background-color: #bdb76b;
}

.middlepic {
	height: auto;
	width: 100%;
}

.main {
	display: flex;
	justify-content: flex-end;
	margin-right:5%;
	margin-left: 5%;
}

.lower-bottom {
	display: flex;
	margin-left: 20%;
	margin-right: 5%;
}

.pics {
	width: 100%;
}

.featured-work {
	margin-left: 20%;
	margin: 0 0 0 0;
}

.lower-bottom-link {
	font-size: 18px;
	text-align: center;
	word-break: break-all;
}

.lower-bottom-text {
	color: gray;
	text-align: center;
}	

.lower {
	margin-left: 20%;
}


@media screen and (min-width: 601px) and (max-width: 1040px){
	
	.user {
		font-size: 20px;
	}
	
	.user-title {
		font-size: 15px;
	}

	.logo {
		width: 70px;
		height: auto;
	}
	
	.side-color {
		width: 40px;
		height: 40px;
		margin-left: 25%;
	}
	
	.side-color-text {
		font-size: 14px;
		text-align: center;
		margin-left: 15%;
	}
}

@media screen and (max-width: 600px){
	
	.user {
		font-size: 12px;
	}
	
	.user-title {
		font-size: 10px;
	}
	
	.logo {
		width: 50px;
		height: auto;
	}
	
	.side-color {
		width: 20px;
		height: 20px;
		margin-left: 25%;
		margin-top: 0px;
	}
	
	.side-color-text {
		line-height: 0px;
		font-size: 10px;
		text-align: center;
	}
	
	.featured-work {
		font-size: 14px;
	}
	
	.lower-bottom-link {
		font-size: 10px;
		text-align: center;
		word-break: break-all;
	}
	
	.lower-bottom-text {
		font-size: 14px;
		text-align: center;
		color: gray;
	}
	
}